body{
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    text-align: right;
}

.caption{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 45%;
    z-index: 1;
}

.caption h3{
    color: black;
    font-size: 2.2rem;
    padding-bottom: 2rem;
}


#work h3 {
    padding-bottom: 2rem;
}

#about h3 {
    padding-bottom: 2rem;
}


.btn{
    border-width: medium;
    border-radius: 0.2;
    padding: .7rem 1rem;
    font-size: 15px;
}

img.work {
    max-width: 100%;
}

.card-body {
    padding:10%;
}

.card-title {
    padding-bottom: 2rem;
}

.card-text {
    padding-bottom: 2rem;
}

#about {
    position: relative;
    height: 100vh;
    width: 82%;
    display: table;
    padding-top: 10%;
    margin: auto;
}

#work {
    position: relative;
    height: 100vh;
    width: 85%;
    display: table;
    padding-top: 10%;
    margin: auto;
}

#contact {
    position: relative;
    margin: auto;
    height: 100vh;
    width: 100%;
    display: table;
    padding: 25%;
}

.landing {
    position: relative;
    width: 100%;
    height: 100vh;
    display: table;
    z-index: -1;
}

.home-wrap {
    clip: rect(0,auto,auto,0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.home-inner {
    position: fixed;
    display: table;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.projects {
    position: relative;
    height: 100vh;
    width: 85%;
    padding-top: 2%;
    display: table;
    margin: auto;
}

.projects h3 {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.projects p {
    font-weight: lighter;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 0.5rem;
}

.col-lg-6 {
    padding-top: 10%;
    padding-bottom: 20%;
    padding-right: 1rem;
    padding-left: 1rem;
}


#HRI {
    -webkit-filter: brightness(0.75);
    -webkit-transition: all 0.1s ease-out 0.5s;
    transition: all 0.1s ease-out 0.5s;
}

#HRI:hover{
    -webkit-filter: brightness(1);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

#HCI {
    -webkit-filter: brightness(0.75);
    -webkit-transition: all 0.1s ease-out 0.5s;
    transition: all 0.1s ease-out 0.5s;
}

#HCI:hover{
    -webkit-filter: brightness(1);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

#UI {
    -webkit-filter: brightness(0.75);
    -webkit-transition: all 0.1s ease-out 0.5s;
    transition: all 0.1s ease-out 0.5s;
}

#UI:hover{
    -webkit-filter: brightness(1);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

#UX {
    -webkit-filter: brightness(0.75);
    -webkit-transition: all 0.1s ease-out 0.5s;
    transition: all 0.1s ease-out 0.5s;
}

#UX:hover{
    -webkit-filter: brightness(1);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

